.section-barber__container {
  position: relative;
  padding-top: 50px;
}
.section-barber__container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
}
.section-barber__bg-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-barber__content {
  position: relative;
  z-index: 5;
}
.section-barber__img-container {
  margin: auto;
  position: relative;
  max-width: 230px;
}
.section-barber__img-container::before {
  content: "";
  display: block;
  padding-top: 285.7142857143%;
}
.section-barber__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.section-barber__title {
  color: #000000;
  font-size: 25px;
}
.section-barber__sub-title {
  color: #000000;
}
.section-barber__phone {
  color: #a97140;
  font-size: 25px;
}
.section-barber__owner {
  color: #a97140;
}
@media (max-width: 767px) {
  .section-barber__sosmed {
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media (max-width: 425px) {
  .section-barber__phone {
    font-size: 20px;
  }
}

.section-brands__logos-container {
  position: relative;
  max-width: 248px;
}
.section-brands__logos-container::before {
  content: "";
  display: block;
  padding-top: 27.8%;
}
.section-brands__logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 575px) {
  .section-brands__logos-container {
    margin-bottom: 15px;
  }
}

.swiper, .swiper--barber {
  width: 100%;
}
.swiper--barber {
  height: 100%;
}

.swiper-button-next, .swiper-button-next--barber {
  right: 20px !important;
}
.swiper-button-next::after, .swiper-button-next--barber::after {
  padding: 15px;
  border: 1px solid #333131;
  font-size: 10px !important;
  background-color: #222222;
  color: #ffffff;
}
@media (max-width: 425px) {
  .swiper-button-next, .swiper-button-next--barber {
    right: 10px !important;
  }
  .swiper-button-next::after, .swiper-button-next--barber::after {
    padding: 10px;
  }
}
.swiper-button-next--barber::after {
  font-weight: 800;
  background-color: transparent;
  color: #000000;
}

.swiper-button-prev, .swiper-button-prev--barber {
  left: 20px !important;
}
.swiper-button-prev::after, .swiper-button-prev--barber::after {
  padding: 15px;
  border: 1px solid #333131;
  font-size: 10px !important;
  background-color: #222222;
  color: #ffffff;
}
@media (max-width: 425px) {
  .swiper-button-prev, .swiper-button-prev--barber {
    left: 10px !important;
  }
  .swiper-button-prev::after, .swiper-button-prev--barber::after {
    padding: 10px;
  }
}
.swiper-button-prev--barber::after {
  font-weight: 800;
  background-color: transparent;
  color: #000000;
}

h3 {
  color: #000000;
}

.section-about__content {
  align-items: center;
}
.section-about__img-container {
  position: relative;
  max-width: 570px;
}
.section-about__img-container::before {
  content: "";
  display: block;
  padding-top: 70.0013197836%;
}
.section-about__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 991px) and (min-width: 768px) {
  .section-about__img-container {
    position: relative;
    max-width: 525px;
  }
  .section-about__img-container::before {
    content: "";
    display: block;
    padding-top: 142.8544494721%;
  }
  .section-about__image {
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

/*# sourceMappingURL=about.css.map*/